/*this is the color-pallete class, just a visual for you to use*/
.color-pallete{
background-color:#000C0F;
/*text*/
color: #D4FAFE;
/*primary*/
color:#78ECFD;
/*secondary*/
color: #A4025F;
/*accent*/
color: #FC4414;

}

/*here are individual classes for each, if you want to assign
the colors inline as you go. "color" style only changes the color of text. background-color changes everything else.*/
.background-color{
  background-color:#000C0F;
}

.text-color{
  background-color: #D4FAFE;
}

.primary-color{
  background-color:#78ECFD;
}

.secondary-color{
  background-color: #A4025F;
}

.accent-color{
  background-color: #FC4414;
}

/*Text versions. These only change the color of the text.*/
.background-color-text{
  color:#000C0F;
}

.text-color-text{
  color: #D4FAFE;
}

.primary-color-text{
  color:#78ECFD;
}

.secondary-color-text{
  color: #A4025F;
}

.accent-color-text{
  color: #FC4414;
}




body {
background-color:#000C0F ;
}

/*style for all text*/
h1, h2, h3, p{
  color: #78ECFD;
  font-family:Arial, Helvetica, sans-serif;
}

/*header specific styles*/
h1{
  font-size: 4vw;
  font-weight: lighter;
}
h2{
  font-size: 2.5vw;
  font-weight:lighter;
}
p{
  font-size: 1.2vw;

}


/*button-styles*/
button {
  background-color: #FC4414;
  color:#000C0F;
  border-radius: 30px;
  font-size: 1.2vw;
  border-style: none;
  font-weight: bold;
  transition: 0.5s;
}
button:hover{
  color:white;
  font-size:1.25vw;
  cursor: pointer;
}

.home-button{
  position:absolute;
  bottom:0%;
  left:44%;
  font-size: 4vw;
}

.home-button:hover{
  font-size: 4.25vw;
}

/*alignment classes*/
/*Description - These are base classes to align things.
You can use some or multiple, but don't change their alignment so it won't affect
someone elses code.*/

/*specifically for centering text.*/
.center-text {
text-align: center;
}

.center-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*specifically for centering an element*/
.center{
  margin-left: auto;
  margin-right: auto;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

/*image-manipulation*/
/*managing images is a pain. this is how I like to do it, 
if you have a better way that you would like go ahead and add it under here. */

/*This makes it so that any image will automatically fit in the container its in.
just resize the container of the image to resize the image itself*/

/*This style might not be needed.*/
.image-container{
   display: flex;
}

/*This makes the image fully take up the space it is in, whithout
stretching.*/
.image-container > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}


.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row: auto;
  justify-items: center;
  align-content: space-between;
  grid-row-gap: 8vh;
}


/*component styles*/
/*Button Card styles*/
.button-card-image-container{
  width: 20vw;
  height: 20vh;
  margin: 0;
}

.button-card-image-container > img   {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-half{
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      justify-content: center;
      padding: 1.2vh;
}

.bottom-half > button {
  font-size: 1vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.main-div{
  align-items: center;
}



/*Id's and specific Changes*/
/*if the class isn't enough (which a lot of the times it won't), you can use an id to edit 
an element directly. Put your id's here for the page you are using them on.*/


/*Home screen IDs*/
#home-screen-header{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

/*Study Screen ID's*/
#study-graphic{
  width: 18vw;
  height: 32vh;
}

#study-graphic2{
  width:19vw;
  height:28vh;
}
#study-p1{
  width: 30vw;
}

#study-p2{
  width: 30vw;
  background-color: #A4025F;
  border-top-right-radius: 30px;
}

#main-study-div{

}

#study-column1{
  
}

#main-prepare-div{
  align-items: flex-start;
}

#header{
  padding-bottom: 0vh;
}

#header2{
  align-self: center;
}

#padded-column{
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 10vh;
}

#start-left-text-box{
  height: 80vh;
}

#start-arrow-box1{
 height: 80vh;
}

#start-middle-box{
  height: 80vh;
  padding-bottom: 10vh;
}

#start-right-text-box{
  padding-left: 3vw;
}

#prepare-graphic{
  width:25vw;
  height:30vh;
  align-self: center;
}

#prepare-p1{
  width: 30vw;
  align-content: center;
  align-items: center;
}

#prepare-p2{
  width: 20vw;
  background-color: #A4025F;
  border-radius: 30px;
  align-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 5vh;
  align-self: center;
}

#start-p1{
  width: 5vw;
  background-color: #A4025F;
  border-radius: 30px;
  align-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
}

#start-p2{
  width: 5vw;
  background-color: #A4025F;
  border-radius: 30px;
  align-content: center;
  align-items: center;
  text-align: center;
  align-self: flex-end;
}

#start-p3{
  width: 5vw;
  background-color: #A4025F;
  border-radius: 30px;
  align-content: center;
  align-items: center;
  text-align: center;
}

#bottom-button{
  position: relative;
  bottom: 0vh;
}

#prepare-button{
  inherits: false;
  align-self: center;
}

/*Cool Facts Screen ID's*/
.cool-facts-header{
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 5vh;}
