/*this is the color-pallete class, just a visual for you to use*/
.color-pallete{
background-color:#000C0F;
/*text*/
color: #D4FAFE;
/*primary*/
color:#78ECFD;
/*secondary*/
color: #A4025F;
/*accent*/
color: #FC4414;

}

/*here are individual classes for each, if you want to assign
the colors inline as you go. "color" style only changes the color of text. background-color changes everything else.*/
.background-color{
  background-color:#000C0F;
}

.text-color{
  background-color: #D4FAFE;
}

.primary-color{
  background-color:#78ECFD;
}

.secondary-color{
  background-color: #A4025F;
}

.accent-color{
  background-color: #FC4414;
}

body {
background-color:#000C0F ;
}

/*style for all text*/
h1, h2, h3, p{
  color: #78ECFD;
  font-family:Arial, Helvetica, sans-serif;
}

/*header specific styles*/
h1{
  font-size: 4vw
}


/*button-styles*/
button {
  background-color: #FC4414;
  color:#000C0F;
  border-radius: 30px;
  font-size: 1.2vw;
  border-style: none;
  font-weight: bold;
  transition: 0.5s;
}
button:hover{
  color:white;
  font-size:1.25vw;
}


/*alignment classes*/
/*Description - These are base classes to align things.
You can use some or multiple, but don't change their alignment so it won't affect
someone elses code.*/

.center-text {
text-align: center;
}


.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

/*image-manipulation*/
/*managing images is a pain. this is how I like to do it, 
if you have a better way that you would like go ahead and add it under here. */

/*This makes it so that any image will automatically fit in the container its in.
just resize the container of the image to resize the image itself*/

/*This style might not be needed.*/
.image-container{
   display: flex;
}


.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row: auto;
  justify-items: center;
  align-content: space-between;
  grid-row-gap: 8vh;
}


/*component styles*/
/*Button Card styles*/
.button-card-image-container{
  width: 20vw;
  height: 20vh;
  margin: 0;
}

.button-card-image-container > img   {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-half{
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      justify-content: center;
      padding: 1.2vh;
}

.bottom-half > button {
  font-size: 1vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.main-div{
  align-items: center;
}



/*Id's and specific Changes*/
/*if the class isn't enough (which a lot of the times it won't), you can use an id to edit 
an element directly. Put your id's here for the page you are using them on.*/


/*Home screen IDs*/
#home-screen-header{
  margin-top: 10vh;
  margin-bottom: 10vh;
}