/*this is the color-pallete class, just a visual for you to use*/
.color-pallete{
background-color:#000C0F;
/*text*/
color: #D4FAFE;
/*primary*/
color:#78ECFD;
/*secondary*/
color: #A4025F;
/*accent*/
color: #FC4414;

}

/*here are individual classes for each, if you want to assign
the colors inline as you go. "color" style only changes the color of text. background-color changes everything else.*/
.background-color{
  background-color:#000C0F;
}

.text-color{
  background-color: #D4FAFE;
}

.primary-color{
  background-color:#78ECFD;
}

.secondary-color{
  background-color: #A4025F;
}

.accent-color{
  background-color: #FC4414;
}

/*Text versions. These only change the color of the text.*/
.background-color-text{
  color:#000C0F;
}

.text-color-text{
  color: #D4FAFE;
}

.primary-color-text{
  color:#78ECFD;
}

.secondary-color-text{
  color: #A4025F;
}

.accent-color-text{
  color: #FC4414;
}




body {
background-color:#000C0F ;
}

/*style for all text*/

h1, h2, h3, p, li, ul{
  color: #78ECFD;
  font-family:Arial, Helvetica, sans-serif;
}

/*header specific styles*/
h1{
  font-size: 4vw;
  font-weight: lighter;
}
h2{
  font-size: 2.5vw;
  font-weight:lighter;
}
p, ul, li{
  font-size: 1.2vw;
}

ul{
  margin: 0;
}

li{
  padding-top: 0.9vh;
  padding-bottom: 0.9vh;
}
ul{
  font-size: 1.2vw;

}

/*button-styles*/
button {
  background-color: #FC4414;
  color:#000C0F;
  border-radius: 30px;
  font-size: 1.2vw;
  border-style: none;
  font-weight: bold;
  transition: 0.5s;
}
button:hover{
  color:white;
  font-size:1.25vw;
  cursor: pointer;
}

.home-button{
  position:absolute;
  bottom:0%;
  left:45%;
  font-size: 4vw;
}

.home-button:hover{
  font-size: 4.25vw;
}

/*alignment classes*/
/*Description - These are base classes to align things.
You can use some or multiple, but don't change their alignment so it won't affect
someone elses code.*/

/*specifically for centering text.*/
.center-text {
text-align: center;
}

.center-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*specifically for centering an element*/
.center{
  margin-left: auto;
  margin-right: auto;
}


.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

/*image-manipulation*/
/*managing images is a pain. this is how I like to do it, 
if you have a better way that you would like go ahead and add it under here. */

/*This makes it so that any image will automatically fit in the container its in.
just resize the container of the image to resize the image itself*/

/*This style might not be needed.*/
.image-container{
   display: flex;
}

/*This makes the image fully take up the space it is in, whithout
stretching.*/
.image-container > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}


.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row: auto;
  justify-items: center;
  align-content: space-between;
  grid-row-gap: 8vh;
}


/*component styles*/
/*Card Styles*/
.card-paragraph-container > p{
 padding: 0;
 margin: 0;
 font-size: 0.9vw;
}

.card-image-container{
  height: 22vh;
  margin: 0
}

.card-image-container > img   {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.large-card-image-container{
    height: 55vh;
  margin: 0
}

.large-card-image-container > img   {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.large-card-paragraph-container > p{
 padding: 0;
 margin: 0;
 font-size: 0.9vw;
}


/*Button Card styles*/
.button-card-image-container{
  width: 20vw;
  height: 20vh;
  margin: 0;
}

.button-card-image-container > img   {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-half{
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      justify-content: center;
      padding: 1.2vh;
}

.bottom-half > button {
  font-size: 1vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.main-div{
  align-items: center;
}

/*Margin-remover*/
.margin-20{
  margin-top: 20px;
  margin-bottom: 20px
}



/*Id's and specific Changes*/
/*if the class isn't enough (which a lot of the times it won't), you can use an id to edit 
an element directly. Put your id's here for the page you are using them on.*/


/*Home screen IDs*/
#home-screen-header{
  margin-top: 10vh;
  margin-bottom: 10vh;
}



/*Study Screen ID's*/
#study-graphic{
  width: 18vw;
  height: 32vh;
}

#study-graphic2{
  width:19vw;
  height:28vh;
}

#study-graphic3{
  width:19vw;
  height:28vh;
}
#study-p1{
  width: 30vw;
}

#study-p2{
  width: 30vw;
  background-color: #A4025F;
  border-radius: 30px;
}

#main-study-div{
 justify-content: space-between;
}

#study-column2{
  align-items: center;
}

#study-column3{
  align-items: flex-end;
}

/*Divisions IDs*/
#divisions-div1
{
  width: 26vw;
}

#divisions-div1 > h2{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/*Career Screen ID's*/
#career-middle >div{
  margin-bottom: 0px;
}

#career-left >div{
  margin-bottom: 0px;
}

.flex-column-career{/*This is also not an ID*/
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#career-middle-image {
  width: 28vw;
  height: 32vh;
  margin-bottom: 20px;
}

#career-middle-button {
  width: 28vw;
  height: 32vh;
  margin-bottom: 20px;
 justify-content: center;
}

#career-row {
    justify-content: space-between;
}

#career-graphic{
  width:22vw;
  height:18vh;
  margin-top: 0vh;
  margin-bottom: 0vh;
}

#career-graphic-middle{
  width:22vw;
  height:18vh;
  margin-top: 0vh;
  margin-bottom: 0vh;
}

#career-next-middle >div{
  margin-bottom: 0px;
}
.flex-column-career-middle{/*Just a note, this is not an id, and shouldn't be lumped with ID's.*/
  display: flex;
  flex-direction: column;
  align-items: center;
  height:5vh;
}
.center-text-career{
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
/*Remote Screen ID's*/
#remote-text{
  background-color: #A4025F;
  color:#78ECFD;
  border-radius: 40px;
  font-size: 1vw;
  margin-top: 1vh;
  width: 26vw;
  height: 25vh;
  padding: 2vh 2vw;
}

.video-container{
  width:22vw;
  height:64vh;
  margin-top: 2vh;
  margin-bottom: 0vh;
  object-fit: cover;
}

.flex-column-remote{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#remote-graphic{
  width:28vw;
  height:30vh;
  margin-top: 2vh;
  margin-bottom: 0vh;
}

/*Cool Facts Screen ID's*/
.cool-facts-header{
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 5vh;}


  /*CS Life ID's*/
  #cs-life-div1{
    width: 28vw;
    align-items: center;
  }
  #main-cs-life-div{
    justify-content: space-evenly;
  }
  #cs-life-button{
    margin-top: 10px;
    margin-bottom:10px;
  }

  #h2-cs-life{
    margin: 0;
  }
  #main-cs-life-header{
    margin-top: 2vh;
    margin-bottom: 2vh;
  }